Source: libpdl-graphics-gnuplot-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl
Maintainer: Dima Kogan <dima@secretsauce.net>
Standards-Version: 3.9.2
Homepage: http://search.cpan.org/dist/PDL-Graphics-Gnuplot/

Package: libpdl-graphics-gnuplot-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, pdl, gnuplot
Description: Gnuplot-based plotter for PDL
 PDL::Graphics::Gnuplot allows PDL data to be plotted using Gnuplot as a
 backend. As much as was possible, this module acts as a passive pass-through
 to Gnuplot, thus making available the full power and flexibility of the
 Gnuplot backend.
